<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="shortcut icon" href="./favicon.ico" />
          <title>XMUTSEC&reg; - Hack The Planet</title>
          <script src="./assert/jquery.js"></script>
          <!-- <script src="./assert/vue.min.js"></script> -->
          <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
          <link rel="stylesheet" href="./assert/styles.css">
     </head>
     <body>
          <div class="container">
               <div class="row">
                    内容还没写好，别对着内容急了😅
                    <div class="banner">
                         <img src="./assert/logo_redrawByPo7.png" class="logo">
                    </div>
                    <div class="banner">
                         <p class="des">Xiamen University Of Technology Cyberspace Security Association</p>
                    </div>
                    <nav class="nav">
                         <li><a goto="#infor">协会介绍</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#branch">方向分支</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#award">足迹</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#links">友联</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#members">历届成员</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#join">加入我们</a></li>
                    </nav>
                    <img src="./assert/640.gif" class="img1" title="https://www.xmutsec.cn">
                    <section id="infor" class="active">
                         <span class="bfont">协会介绍</span>
                         <p>我们的故事要从二零一六年的夏天说起在那一年的六月九日几位志同道合的少年人在鹭江之畔一拍即合成立了一支CTF战队CodeMonster与之同时诞生的还有圣后溪英兰德皇家幼儿园附属理工学院信息安全协会（厦门理工学院信息安全协会）这一天发生的这件事改变了后来许多人的人生轨迹我想这其中也可能包括正在屏幕前看这篇文章的你</p>
                         <p class="alert"><p class="rgb">协会纳新：<a href="https://share.weiyun.com/sNwHl0qg" target="_blank">https://share.weiyun.com/sNwHl0qg</a> (Easy)</p></p>
                         <img src="./assert/logo.jpg">
                    </section>
                    <section id="links">
                         <span class="bfont">友情链接（排名不分前后）</span>
                         <nav v-for="(link) in object">
                              <div v-for="(index) in link['names'].length">
                                   <div class="links">
                                        <img :src="link.avatars[index-1]">
                                        <li><p class="ez" style="font-weight: bold;">{{ link.names[index-1] }}</p></li>
                                        <li><p class="ez">{{ link.descri[index-1] }}</p></li>
                                        <li><p class="ez">Blog:  <a :href="getHref(link.links[index-1])" target="_blank">{{ link.links[index-1] }}</a></p></li>
                                   </div>
                              </div>
                         </nav>          
                    </section>
                    <section id="branch">
                         <span class="bfont">方向分支</span>
                         <h3>二进制安全（Binary Security）</h3>
                         <p>一般来说，pwn做的事情是 系统/程序漏洞挖掘与利用 我们通常使用的window或者是linux，也经常遇到病毒什么的，熊猫烧香/永恒之蓝等等，这些都是由于系统或者程序等存在着漏洞，然后被恶意利用。
                              而学pwn，就是在学这些漏洞的原理与利用。
                              pwn学习到后面可以扩展为，内核漏洞的研究，或者iot安全研究，车联网物联网安全等等
                              再比如说，我们用的饭卡，ID/IC，机器人等物理设备的安全，也都会涉及到pwn。(笼统的说)
                              </p>
                         <h3>密码学专项（Cryptography）</h3>
                         <p>密码学（英语：Cryptography）可分为古典密码学和现代密码学。在西方语文中，密码学一词源于希腊语kryptós“隐藏的”，和gráphein“书写”。古典密码学主要关注信息的保密书写和传递，以及与其相对应的破译方法。而现代密码学不只关注信息保密问题，还同时涉及信息完整性验证（消息验证码）、信息发布的不可抵赖性（数字签名）、以及在分布式计算中产生的来源于内部和外部的攻击的所有信息安全问题。古典密码学与现代密码学的重要区别在于，古典密码学的编码和破译通常依赖于设计者和敌手的创造力与技巧，作为一种实用性艺术存在，并没有对于密码学原件的清晰定义。而现代密码学则起源于20世纪末出现的大量相关理论，这些理论使得现代密码学成为了一种可以系统而严格地学习的科学。</p>
                         <h3>CTF（Capture The Flag）</h3>
                         <p>CTF（Capture The Flag，夺旗赛）起源于 1996 年 DEFCON 全球黑客大会，是网络安全爱好者之间的竞技游戏。
                              CTF 竞赛涉及众多领域，内容繁杂。与此同时，安全技术的发展速度越来越快，CTF 题目的难度越来越高，初学者面对的门槛越来越高。而网上资料大都零散琐碎，初学者往往并不知道该如何系统性地学习 CTF 相关领域知识，常需要花费大量时间，苦不堪言。
                         <b>主要方向：Miscellaneous (杂项)、Crypto (密码学)、Pwn (二进制)、IOT、BlockChain、Mobile</b></p>
                         <h3>Web安全渗透测试（Penetration test）</h3>
                         <p>着重于Web应用程序，框架，浏览器以及各类Web服务器的安全问题；挖掘/利用/研究各类Web系漏洞，探究其形成原理，利用方式及修补方案。带你从Web安全入手，了解对一个网站进行完整的渗透测试的流程，同时也参与CTF大赛的Web环节，走上人生巅峰，原则：拒绝黑产，授权测试。。</p>
                    </section>
                    <section id="members">
                         <span class="bfont">历届成员</span>
                         <nav v-for="(mem) in object">
                              <h3>{{ mem.date }}</h3>
                              <div v-for="(index) in mem['members'].length">
                                   <div class="panel">
                                        <img :src="mem.avatars[index-1]">
                                        <li><p class="ez" style="font-weight: bold;">{{ mem.members[index-1] }}</p></li>
                                        <li><p class="ez">{{ mem.descri[index-1] }}</p></li>
                                        <li><p class="ez">Blog:  <a :href="getHref(mem.links[index-1])" target="_blank">{{ mem.links[index-1] }}</a></p></li>
                                   </div>
                              </div>
                         </nav>
                    </section>
                    <section id="award">
                         <span class="bfont">足迹</span>
                         <nav v-for="award in object">
                              <h3>{{ award.date }}</h3>
                              <p v-for="(threat,value) in award.plan">{{ threat }}</p>
                         </nav>
                    </section>
                    <section id="join">
                         <p>投递简历至：join#iloli.moe (Modify # to @)</p>
                    </section>
               </div>
               <script src="./assert/easyjs.js"></script>
               <div class="footer">
                    <img src="./assert/footerlogo_redrawByPo7.png" class="flogo">
                    <p>©XMUTSEC - <a href="https://rce.iloli.moe">SECTHEME</a></p>
               </div>
          </div>
     </body>
</html>