<!DOCTYPE html>
<html lang="en">
     <head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="shortcut icon" href="./favicon.ico" />
          <title>厦门理工学院信息安全协会&reg; - Hack The Planet</title>
          <script src="./assert/jquery.js"></script>
          <!-- <script src="./assert/vue.min.js"></script> -->
          <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
          <link rel="stylesheet" href="./assert/styles.css">
     </head>
     <body>
          <div class="container">
               <div class="row">
                    <div class="banner">
                         <img src="./assert/logo_redrawByPo7.png" class="logo">
                    </div>
                    <div class="banner">
                         <p class="des">Xiamen University Of Technology Cyberspace Security Association</p>
                    </div>
                    <nav class="nav">
                         <li><a goto="#infor">协会介绍</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#branch"><del>靓照</del></a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#award">足迹</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#links">友链</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#members">历届成员</a></li>
                         <li><a class="line">/</a></li>
                         <li><a goto="#join">加入我们</a></li>
                    </nav>
                    <img src="./assert/640.gif" class="img1" title="https://www.xmutsec.cn">
                    <section id="infor" class="active">
                         <span class="bfont">协会介绍</span>
                         <p>我们的故事要从二〇一六年的夏天说起在那一年的六月九日几位志同道合的少年人在鹭江之畔一拍即合成立了一支CTF战队CodeMonster与之同时诞生的还有圣后溪英兰德皇家幼儿园附属理工学院信息安全协会（厦门理工学院信息安全协会），我们研究的内容主要以安全类为主，辅为ACG爱好</p>
                         <p>CTFTime: https://ctftime.org/team/?</p>
                         <p>研究方向</p>
                         <ul>
                              <li>Web安全</li>
                              <li>逆向工程</li>
                              <li>二进制安全</li>
                              <li>移动安全</li>
                              <li>密码学</li>
                              <li>渗透测试</li>
                              <li>业余无线电</li>
                              <li>and so on…</li>
                         </ul>
                         <!-- <p class="alert"><p class="rgb">协会纳新：<a href="https://share.weiyun.com/sNwHl0qg" target="_blank">https://share.weiyun.com/sNwHl0qg</a> (Easy)</p></p> -->
                         <!-- <img src="./assert/logo.jpg"> -->
                    </section>
                    <section id="links">
                         <span class="bfont">友情链接（排名不分前后）</span>
                         <nav v-for="(link) in object">
                              <div v-for="(index) in link['names'].length">
                                   <div class="links">
                                        <img :src="link.avatars[index-1]">
                                        <li><p class="ez" style="font-weight: bold;">{{ link.names[index-1] }}</p></li>
                                        <li><p class="ez">{{ link.descri[index-1] }}</p></li>
                                        <li><p class="ez">Blog:  <a :href="getHref(link.links[index-1])" target="_blank">{{ link.links[index-1] }}</a></p></li>
                                   </div>
                              </div>
                         </nav>          
                    </section>
                    <section id="branch">
                         <span class="bfont">靓照</span>
                         <img src="">
                    </section>
                    <section id="members">
                         <span class="bfont">历届成员</span>
                         <nav v-for="(mem) in object">
                              <h3>{{ mem.date }}</h3>
                              <div v-for="(index) in mem['members'].length">
                                   <div class="panel">
                                        <img :src="mem.avatars[index-1]">
                                        <li><p class="ez" style="font-weight: bold;">{{ mem.members[index-1] }}</p></li>
                                        <li><p class="ez">{{ mem.descri[index-1] }}</p></li>
                                        <li><p class="ez">Blog:  <a :href="getHref(mem.links[index-1])" target="_blank">{{ mem.links[index-1] }}</a></p></li>
                                   </div>
                              </div>
                         </nav>
                    </section>
                    <section id="award">
                         <span class="bfont">足迹</span>
                         <nav v-for="award in object" class="nav-1">
                              <h3 class="nav-1-1">{{ award.date }}</h3>
                              <p v-for="(threat,value) in award.plan">{{ threat }}</p>
                         </nav>
                    </section>
                    <section id="join">
                         <span class="bfont">加入我们</span>
                         <p>2022年纳新活动已开启，2022迎新群：<b>818071925</b>（往死里加🥰）</p>
                         <p>提问：<a href="https://support.qq.com/products/434073">https://support.qq.com/products/434073</a></p>
                         <p>我们仅限 <b>厦门理工学院在校生</b> 加入，如您并不是厦门理工学院在校生，您可以关注其他的信息安全团队。</p>
                         <p>如果您是面向<b>0基础</b>的新生，请不用担心，<b>我们会在开学之后会开展纳新宣讲会，之后更有寒/暑期集训纳新。</b></p>
                         
                    </section>
               </div>
               <script src="./assert/easyjs.js"></script>
               <div class="footer">
                    <!-- <img src="./assert/footerlogo_redrawByPo7.png" class="flogo"> -->
                    <p>©XMUTSEC - <a href="https://rce.iloli.moe">rYu1nser</a></p>
               </div>
          </div>
          <div class="lkll">
               <!-- https://cdn.jsdelivr.net/npm/sakana-widget@2.3.2/lib/sakana.min.js -->
               <!-- https://cdnjs.cloudflare.com/ajax/libs/sakana-widget/2.3.2/sakana.min.js -->
               <div id="sakana-widget"></div>
               <script>
               function initSakanaWidget() {
               new SakanaWidget().mount('#sakana-widget');
               }
               </script>
               <script
               async
               onload="initSakanaWidget()"
               src="https://cdn.jsdelivr.net/npm/sakana-widget@2.3.2/lib/sakana.min.js"
               ></script>
          </div>
          <div class="llkl">
               <!-- https://cdn.jsdelivr.net/npm/sakana-widget@2.3.2/lib/sakana.min.js -->
               <!-- https://cdnjs.cloudflare.com/ajax/libs/sakana-widget/2.3.2/sakana.min.js -->
               <div id="sakana-widget"></div>
               <script>
               function initSakanaWidget() {
               new SakanaWidget().mount('#sakana-widget');
               }
               </script>
               <script
               async
               onload="initSakanaWidget()"
               src="https://cdn.jsdelivr.net/npm/sakana-widget@2.3.2/lib/sakana.min.js"
               ></script>
          </div>
          <div style="position: fixed;left: 30px;bottom: 30px;margin-bottom: 20px;z-index:99;">
               <div id="takina-widget"></div>
               <script>
                    function inittakinaWidget(){
                         const takina = SakanaWidget.getCharacter('takina');
                         SakanaWidget.registerCharacter('takina-slow', takina);
                         new SakanaWidget({ character: 'takina-slow' }).mount('#takina-widget');
                    }
               </script>
               <script
               async
               onload="inittakinaWidget()"
               src="https://cdn.jsdelivr.net/npm/sakana-widget@2.3.2/lib/sakana.min.js"
               ></script>
           </div>
     </body>
</html>