/* 
     @Author: rYu1nser
*/
*{
     font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.container{
     margin: 0 auto;
     width: 780px;
}
/* cnm傻逼玩意 */
.rgb{
     animation: rgb 1s infinite;
}
.lkll{
     position: fixed;right: 30px;bottom: 30px;margin-bottom: 20px;
}
.img-1{
     width: 100px;
}
a{
     color: black;
     text-decoration: none;
     transition: 0.1s ease-in;

     border-bottom: 1px dashed rgb(156, 13, 43);
}
a:hover{
     transition: 0.1s ease-in;
     color: red;
}
@keyframes rgb{
     0% {color:rgb(255, 0, 0)}
     50%{color: rgb(0,255,0);}
     100%{color: rgb(0,0,255);}
}
.icon-mini{
     padding-right: 10px;
     width: 30px;
}
.lfont{
     margin: 20px 0px 10px 0px;
     display: flex;
}
#award .nav-1{
     margin-bottom: 9px;
     line-height: 14px;
}
#award .nav-1-1{
     margin-top: 30px;
}
.nav{
     max-width: 570px;
     width: 100%;
     margin: 0 auto;
     margin-top: 10px;
     list-style: none;
     display: flex;
     justify-content: center;
}
.img1{
     display: flex;
     width: 400px;
     margin: 0 auto;
}
.logo{
     display: flex;
     width: 480px;
     margin: 0 auto;
     padding-bottom: 14px;
}
.nav a{
     text-decoration: none;
     border-bottom: none;
     color: #000;
     cursor: pointer;
     margin: 0px 5px 0px 7px;
}

a.active{color:#d82727!important}
.bfont{
     border-left: 5px solid #000;
     padding-left: 10px;
     font-size: 20px;
}
.tit{
     font-size: 35px;
     line-height: 5px;
     font-weight: 500;
}
.des{
     line-height: 0px;
     color: rgb(114, 114, 114);
     font-size: 11px;
}
.row{
     position: relative;
     top: 60px;
     width: 100%;
}
.line{
     font-weight: 100;
}
.links{
     margin: 5px;
     width: 100%;
     height: 80px;
     border-bottom: 1px solid rgb(229, 229, 229);
     padding-top: 5px;
     padding-bottom: 8px;
}
.links img{
     float: left;
     max-width: 80px;
}
.links li{
     margin-left: 80px;
     list-style: none;
     line-height: 10px;
}
.panel{
     margin: 5px;
     width: 100%;
     height: 80px;
     border-bottom: 1px solid rgb(229, 229, 229);
     padding-top: 5px;
     padding-bottom: 8px;
}
.h-title{
     display: flex;
     justify-content: center;
     width: 100%;

}
.panel img{
     float: left;
     max-width: 80px;
}
.panel li{
     margin-left: 10px;
     list-style: none;
     line-height: 15px;
}
.ez{
     font-size: 13px;
     font-weight: 400;
     padding-left: 10px;
     text-decoration: none;
}
.ez a{
     text-decoration: none;
     color: rgb(38, 145, 210);
}
.footer{
     position: relative;
     top: 100px;
     display: flex;
     align-items: center;
     width: 100%;
     margin: 0 auto;
     flex-direction: column;
     color: rgb(156, 13, 43);
}
.footer p{
     line-height: 1px;
     font-size: 13px;
}
.footer a{
     color: rgb(156, 13, 43);
     text-decoration: none;
}
@keyframes jump {
     0%{
          transform: rotate(0deg);
          margin-top: 10px;
     }
     100%{
          transform: rotate(180deg);
          margin-top: -10px;
     }
}
.flogo{
     width: 50px;
     position: relative;
     top: 0;
     animation: jump 0.1s infinite;
}
.row section {
     display: none;
}
.banner{
     text-align: center;
}
.row section.active {
     display: block;
}
section {
     -webkit-animation: fadenum .5s;
     -moz-animation: fadenum .5s;
     animation: fadenum .5s;
     line-height: 30px;
     margin-top: 20px;
}
@keyframes fadenum {
     0% {
         opacity: 0;
     }
 
     100% {
         opacity: 1;
     }
}
#members p{
     display: inline-block;
     margin: 5px;
}