/* 
     @Author: Po7mn1
*/
.container{
     margin: 0 auto;
     width: 780px;
}
/* cnm傻逼玩意 */
.rgb{
     animation: rgb 1s infinite;
}
@keyframes rgb{li
     0% {color:rgb(255, 0, 0)}
     50%{color: rgb(0,255,0);}
     100%{color: rgb(0,0,255);}
}
.nav{
     max-width: 500px;
     width: 100%;
     margin: 0 auto;
     margin-top: 10px;
     list-style: none;
     display: flex;
     justify-content: center;
}
.logo{
     display: flex;
     width: 180px;
     margin: 0 auto;
}
.nav a{
     text-decoration: none;
     color: #000;
     cursor: pointer;
     margin: 0px 5px 0px 7px;
}

a.active{color:#d82727!important}
.bfont{
     border-left: 5px solid #000;
     padding-left: 10px;
     font-size: 20px;
}
.tit{
     font-size: 35px;
     line-height: 5px;
     font-weight: 500;
}
.des{
     font-size: 20px;
}
.row{
     position: relative;
     top: 50px;
     width: 100%;
}
.line{
     font-weight: 100;
}
.footer{
     position: relative;
     top: 100px;
     display: flex;
     align-items: center;
     width: 100%;
     margin: 0 auto;
     flex-direction: column;
     color: rgb(156, 13, 43);
}
.footer p{
     line-height: 1px;
     font-size: 13px;
}
.footer a{
     color: rgb(156, 13, 43);
     text-decoration: none;
}
@keyframes jump {
     0%{
          transform: rotate(0deg);
          margin-top: 10px;
     }
     100%{
          transform: rotate(180deg);
          margin-top: -10px;
     }
}
.flogo{
     width: 50px;
     position: relative;
     top: 0;
     animation: jump 0.1s infinite;
}
.row section {
     display: none;
}
.row section.active {
     display: block;
}
section {
     -webkit-animation: fadenum .5s;
     -moz-animation: fadenum .5s;
     animation: fadenum .5s;
     line-height: 30px;
}
@keyframes fadenum {
     0% {
         opacity: 0;
     }
 
     100% {
         opacity: 1;
     }
}
#members p{
     display: inline-block;
     margin: 5px;
}